<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="icon" type="image/png" href="image/favicon.png">
    <!-- 引入 Element 样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<body>
<div id="app">
    <!-- 登录/注册 -->
    <template>
        <el-row type="flex" justify="center" align="middle">
            <el-col :span="12">
                <p style="text-align: center;font-size: 80px">M e e t i n g</p>
            </el-col>
        </el-row>
        <!-- 登录 -->
        <el-row type="flex" justify="center" align="middle">
            <el-col :span="5">
                <el-button type="primary" plain @click="login">刷 脸 登 录</el-button>
                <el-button type="success" plain @click="register">人 脸 注 册</el-button>
            </el-col>
        </el-row>
        <br>
        <!-- 人脸采集 -->
        <el-row type="flex" justify="center" align="middle">
            <el-col :span="12">
                <video ref="video" width="100%" height="480" autoplay></video>
                <canvas ref="canvas" width="640" height="480" style="display: none"></canvas>
            </el-col>
        </el-row>
    </template>

    <!-- 拍照弹窗 -->
    <el-dialog
            title="Meeting"
            :visible.sync="cameraDialogVisible"
            @close="closeCamera"
            center>
        <!--canvas截取流-->
        <!--        <canvas ref="canvas" width="640" height="480" style="display: none"></canvas>-->
        <!-- 图片展示 -->
        <video ref="video" width="100%" height="480" autoplay></video>
        <span slot="footer" class="dialog-footer">
    <el-button plain @click="cameraDialogVisible = false">取消</el-button>
    <el-button plain type="primary" @click="photo">Go!</el-button>
  </span>
    </el-dialog>

    <!-- 注册弹窗 -->
    <el-dialog
            title="注册"
            :visible.sync="registerDialogVisible"
            width="30%"
            center>
        <!-- 注册表单 -->
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="用户名" prop="name">
                <el-input v-model="ruleForm.name"></el-input>
            </el-form-item>
            <el-form-item label="部门" prop="dept">
                <el-select v-model="ruleForm.dept" placeholder="请选择部门">
                    <el-option label="总裁办" value="总裁办"></el-option>
                    <el-option label="运营中心" value="运营中心"></el-option>
                    <el-option label="财务部" value="财务部"></el-option>
                    <el-option label="人资管理部" value="人资管理部"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="职位" prop="post">
                <el-select v-model="ruleForm.post" placeholder="请选择职位">
                    <el-option label="总裁" value="总裁"></el-option>
                    <el-option label="经理" value="经理"></el-option>
                    <el-option label="员工" value="员工"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="性别" prop="gender">
                <el-select v-model="ruleForm.gender" placeholder="请选择性别">
                    <el-option label="男" value="0"></el-option>
                    <el-option label="女" value="1"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="人脸录入" prop="base64">
                <el-button plain @click="cameraDialog" v-model="ruleForm.base64">拍照录入</el-button>
                <el-upload
                        class="upload-demo"
                        ref="upload"
                        action="#"
                        :http-request="httpRequest"
                        >
                    <el-button type="primary" plain>选择照片</el-button>

                </el-upload>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" plain @click="submitForm('ruleForm')">注 册</el-button>
                <el-button plain @click="resetForm('ruleForm')">重 置</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

</div>

<!-- 引入 JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<!-- 引入 Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入 Vue -->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<!-- 引入 Element 组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/main.js"></script>

</body>
</html>