.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    height: 100vh;
}

.el-row {
    margin-top: 20px;
}

.el-col-temp {
    margin-left: 20px;
    border-bottom: aquamarine 3px solid;
    float: none;
}

.el-pagination {
    margin: 20px auto auto 20px;
}