.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
}

.el-row {
    margin-top: 20px;
}

.el-col-temp {
    margin-left: 20px;
    border-bottom: aquamarine 3px solid;
}