<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="icon" type="image/png" href="/image/favicon.png">
    <!-- 引入 Element 样式 -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div id="app">
    <el-row type="flex">
        <!--导航-->
        <el-col :xs="24" :sm="8" :md="5" :lg="4">
            <el-menu
                    default-active="1"
                    class="el-menu-vertical-demo"
                    @open="handleOpen"
                    @close="handleClose">
                <!--登录成功回显用户信息-->
                <div class="demo-image">
                    <el-row type="flex" justify="center">
                        <el-col :span="12">
                            <el-image
                                    style="width: 100px; height: 100px"
                                    :src="url"
                            ></el-image>
                        </el-col>
                    </el-row>
                    <el-row type="flex" justify="center">
                        <el-col :span="6"><p th:text="${userInfo.name}"></p>
                            <p th:text="${userInfo.id}" style="display: none" id="userId"></p></el-col>
                    </el-row>
                </div>
                <el-menu-item index="1" @click="home">
                    <i class="el-icon-menu"></i>
                    <span slot="title">欢迎页</span>
                </el-menu-item>
                <el-menu-item index="2" @click="meetingManagement">
                    <i class="el-icon-chat-dot-square"></i>
                    <span slot="title">会议管理</span>
                </el-menu-item>
                <el-menu-item index="3" @click="personsManagement">
                    <i class="el-icon-user"></i>
                    <span slot="title">人员管理</span>
                </el-menu-item>
                <el-menu-item index="5" @click="setIndex(8)">
                    <i class="el-icon-setting"></i>
                    <span slot="title">设置</span>
                </el-menu-item>
            </el-menu>
        </el-col>
        <!--欢迎页-->
        <el-col v-if="index == 1">
            <!-- 我发起的会议 -->
            <template>
                <h3>我发起的会议</h3>
                <el-table
                        :data="myInitMeeting"
                        style="width: 100%">
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form label-position="left" inline class="demo-table-expand">
                                <el-form-item label="会议名称">
                                    <span>{{ props.row.meetingName }}</span>
                                </el-form-item>
                                <el-form-item label="会议地点">
                                    <span>{{ props.row.meetingPlace }}</span>
                                </el-form-item>
                                <el-form-item label="开始时间">
                                    <span>{{ props.row.startTime }}</span>
                                </el-form-item>
                                <el-form-item label="结束时间">
                                    <span>{{ props.row.endTime }}</span>
                                </el-form-item>
                                <el-form-item label="会议描述">
                                    <span>{{ props.row.meetingDesc }}</span>
                                </el-form-item>
                                <el-form-item label="会议状态">
                                    <span>{{ props.row.status }}</span>
                                </el-form-item>
                            </el-form>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="会议名称"
                            align="center"
                            prop="meetingName">
                    </el-table-column>
                    <el-table-column
                            label="会议状态"
                            align="center"
                            prop="status">
                    </el-table-column>
                    <el-table-column
                            label="会议操作"
                            align="center">
                        <template slot-scope="scope">
                            <el-button
                                    plain
                                    size="mini"
                                    @click="handleStart(scope.row)">开始会议
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>

            <!-- 我参与的会议 -->
            <template>
                <h3>我参与的会议</h3>
                <el-table
                        :data="myMeeting"
                        style="width: 100%">
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form label-position="left" inline class="demo-table-expand">
                                <el-form-item label="会议名称">
                                    <span>{{ props.row.meetingName }}</span>
                                </el-form-item>
                                <el-form-item label="会议地点">
                                    <span>{{ props.row.meetingPlace }}</span>
                                </el-form-item>
                                <el-form-item label="开始时间">
                                    <span>{{ props.row.startTime }}</span>
                                </el-form-item>
                                <el-form-item label="结束时间">
                                    <span>{{ props.row.endTime }}</span>
                                </el-form-item>
                                <el-form-item label="会议描述">
                                    <span>{{ props.row.meetingDesc }}</span>
                                </el-form-item>
                                <el-form-item label="会议发起人">
                                    <span>{{ props.row.initiator }}</span>
                                </el-form-item>
                                <el-form-item label="会议状态">
                                    <span>{{ props.row.status }}</span>
                                </el-form-item>
                            </el-form>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="会议名称"
                            align="center"
                            prop="meetingName">
                    </el-table-column>
                    <el-table-column
                            label="会议地点"
                            align="center"
                            prop="meetingPlace">
                    </el-table-column>
                    <el-table-column
                            label="开始时间"
                            align="center"
                            prop="startTime">
                    </el-table-column>
                </el-table>
            </template>

        </el-col>
        <!--判断是否为管理员，管理员开放管理权限-->
        <!--会议列表-->
        <el-col v-if="index == 2">
            <!-- 按条件查询 -->
            <div class="el-col-temp">
                <el-form :inline="true" :model="meetingFormInline" class="demo-form-inline">
                    <el-form-item label="会议名称">
                        <el-input v-model="meetingFormInline.meetingName" placeholder="会议名称"></el-input>
                    </el-form-item>
                    <el-form-item label="会议地点">
                        <el-select v-model="meetingFormInline.meetingPlace" placeholder="会议地点">
                            <el-option label="-- 请选择 --" value=""></el-option>
                            <el-option label="会议室(一)" value="会议室(一)"></el-option>
                            <el-option label="会议室(二)" value="会议室(二)"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="会议状态">
                        <el-select v-model="meetingFormInline.status" placeholder="会议状态">
                            <el-option label="-- 请选择 --" value=""></el-option>
                            <el-option label="未开始" value="未开始"></el-option>
                            <el-option label="进行中" value="进行中"></el-option>
                            <el-option label="已完成" value="已完成"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button plain type="primary" @click="meetingOnSubmit">查询</el-button>
                    </el-form-item>
                    <el-form-item>
                        <!-- 创建会议 -->
                        <el-button plain type="success" @click="creatMeetingDialogVisible = true">创建会议</el-button>
                    </el-form-item>
                </el-form>
            </div>

            <!-- 会议列表 -->
            <template>
                <el-table
                        v-loading="loading"
                        element-loading-text="拼命加载中"
                        element-loading-spinner="el-icon-loading"
                        element-loading-background="rgba(0, 0, 0, 0.3)"
                        :data="meetingList"
                        style="width: 100%"
                        stripe>
                    <el-table-column></el-table-column>
                    <el-table-column align="center"
                                     prop="meetingName"
                                     label="会议名称">
                    </el-table-column>
                    <el-table-column align="center"
                                     label="会议详情">
                        <template slot-scope="scope">
                            <el-button type="text" @click="meetingDetails(scope.row)">会议详情</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column align="center"
                                     label="参会人员/签到统计">
                        <template slot-scope="scope">
                            <el-button type="text" @click="meetingParticipant(scope.row)">参会人员/签到统计</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column align="center"
                                     prop="status"
                                     label="会议状态">
                    </el-table-column>
                    <el-table-column label="操作"
                                     align="center"
                                     width="300">
                        <template slot-scope="scope">
                            <el-button
                                    plain
                                    size="mini"
                                    @click="handleStart(scope.row)">开始会议
                            </el-button>
                            <el-button
                                    plain
                                    size="mini"
                                    @click="handleEdit(scope.row)">编辑
                            </el-button>
                            <el-button
                                    plain
                                    size="mini"
                                    type="danger"
                                    @click="handleDelete(scope.row)">删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>

                <!-- 分页 -->
                <el-pagination
                        @size-change="meetingHandleSizeChange"
                        @current-change="meetingHandleCurrentChange"
                        :current-page="meetingPagination.currentPage"
                        :page-sizes="[10, 20, 50]"
                        :page-size="meetingPagination.pageSize"
                        background
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="meetingPagination.total">
                </el-pagination>
            </template>
        </el-col>

        <!-- 创建会议 -->
        <el-dialog
                title="创建会议"
                :visible.sync="creatMeetingDialogVisible"
                width="50%"
                center>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="会议名称" prop="meetingName">
                    <el-input v-model="ruleForm.meetingName"></el-input>
                </el-form-item>
                <el-form-item label="会议地点" prop="meetingPlace">
                    <el-select v-model="ruleForm.meetingPlace" placeholder="请选择会议室">
                        <el-option label="会议室(一)" value="会议室(一)"></el-option>
                        <el-option label="会议室(二)" value="会议室(二)"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="开始时间" prop="startTime" required>
                    <el-date-picker
                            v-model="ruleForm.startTime"
                            type="datetime"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            placeholder="选择开始时间">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="结束时间" prop="endTime" required>
                    <el-date-picker
                            v-model="ruleForm.endTime"
                            type="datetime"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            placeholder="选择结束时间">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="会议内容" prop="meetingDesc">
                    <el-input type="textarea" v-model="ruleForm.meetingDesc"></el-input>
                </el-form-item>
                <el-form-item label="参会人员" prop="persons">
                    <el-button type="primary" plain @click="selectPersons">选择参会人员
                    </el-button>
                    <!-- 选择参会人员 -->
                    <el-dialog
                            title="选择参会人员"
                            :visible.sync="personsDialogVisible"
                            width="70%"
                            center
                            append-to-body>
                        <template>
                            <!-- 人员列表 -->
                            <el-table
                                    v-loading="loading"
                                    element-loading-text="拼命加载中"
                                    element-loading-spinner="el-icon-loading"
                                    element-loading-background="rgba(0, 0, 0, 0.3)"
                                    :data="tableData"
                                    style="width: 100%"
                                    stripe
                                    :row-key="(row) => {return row.id}"
                                    @selection-change="handleSelectionChange">
                                <el-table-column type="selection" width="55"
                                                 :reserve-selection="true"></el-table-column>
                                <el-table-column prop="name" label="姓名"></el-table-column>
                                <el-table-column prop="dept" label="部门"></el-table-column>
                                <el-table-column prop="post" label="职位"></el-table-column>
                                <el-table-column prop="gender" label="性别"></el-table-column>
                            </el-table>
                            <!-- 分页工具 -->
                            <el-row type="flex" justify="start">
                                <el-col :span="14">
                                    <el-pagination
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange"
                                            :current-page="pagination.currentPage"
                                            :page-sizes="[10, 25, 50, 100]"
                                            :page-size="pagination.pageSize"
                                            background
                                            layout="total, sizes, prev, pager, next, jumper"
                                            :total="pagination.total">
                                    </el-pagination>
                                </el-col>
                            </el-row>
                        </template>

                        <span slot="footer" class="dialog-footer">
                                    <el-button type="primary" @click="selectPerson">确 定</el-button>
                                </span>
                    </el-dialog>
                </el-form-item>
                <el-form-item>
                    <el-button type="success" plain @click="submitForm('ruleForm')">创建会议</el-button>
                    <el-button plain @click="resetForm('ruleForm')">重置</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!-- 会议详情 -->
        <el-dialog
                title="会议详情"
                :visible.sync="meetingDetailsDialogVisible"
                width="70%"
                center>
            <el-form ref="ruleForm" :model="ruleForm" label-width="80px">
                <el-form-item label="会议名称">
                    <el-input v-model="ruleForm.meetingName"></el-input>
                </el-form-item>
                <el-form-item label="发起人">
                    <el-input v-model="ruleForm.initiator"></el-input>
                </el-form-item>
                <el-form-item label="会议地点">
                    <el-input v-model="ruleForm.meetingPlace"></el-input>
                </el-form-item>
                <el-form-item label="开始时间">
                    <el-input v-model="ruleForm.startTime"></el-input>
                </el-form-item>
                <el-form-item label="结束时间">
                    <el-input v-model="ruleForm.endTime"></el-input>
                </el-form-item>
                <el-form-item label="会议内容">
                    <el-input type="textarea" v-model="ruleForm.meetingDesc"></el-input>
                </el-form-item>
                <el-form-item label="会议状态">
                    <el-input v-model="ruleForm.status"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="meetingDetailsDialogVisible = false">确 定</el-button>
                </span>
        </el-dialog>

        <!-- 参会人员/签到统计 -->
        <el-dialog
                title="参会人员"
                :visible.sync="meetingParticipateDialogVisible"
                width="70%"
                center>
            <template>
                <el-table
                        :data="meetingDetailsList"
                        stripe
                        style="width: 100%">
                    <el-table-column
                            prop="name"
                            align="center"
                            label="姓名">
                    </el-table-column>
                    <el-table-column
                            prop="dept"
                            align="center"
                            label="部门">
                    </el-table-column>
                    <el-table-column
                            prop="post"
                            align="center"
                            label="职位">
                    </el-table-column>
                    <el-table-column
                            prop="gender"
                            align="center"
                            label="性别">
                    </el-table-column>
                    <el-table-column
                            prop="status"
                            align="center"
                            label="签到状态">
                    </el-table-column>
                </el-table>
                <el-form :inline="true" :model="signInCount" class="demo-form-inline" :disabled="true">
                    <el-form-item label="总人数">
                        <el-input v-model="signInCount.total"></el-input>
                    </el-form-item>
                    <el-form-item label="已签到">
                        <el-input v-model="signInCount.isSignIn"></el-input>
                    </el-form-item>
                    <el-form-item label="未签到">
                        <el-input v-model="signInCount.noSignIn"></el-input>
                    </el-form-item>
                </el-form>
            </template>
            <span slot="footer" class="dialog-footer">
                    <el-button plain type="primary" @click="meetingParticipateDialogVisible = false">确 定</el-button>
                </span>
        </el-dialog>

        <!-- 会议编辑 -->
        <el-dialog
                title="编辑"
                :visible.sync="editDialogVisible"
                width="50%"
                center>
            <template>
                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px"
                         class="demo-ruleForm">
                    <el-form-item label="会议名称" prop="meetingName">
                        <el-input v-model="ruleForm.meetingName"></el-input>
                    </el-form-item>
                    <el-form-item label="会议地点" prop="meetingPlace">
                        <el-select v-model="ruleForm.meetingPlace" placeholder="请选择会议室">
                            <el-option label="会议室(一)" value="会议室(一)"></el-option>
                            <el-option label="会议室(二)" value="会议室(二)"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime" required>
                        <el-date-picker
                                v-model="ruleForm.startTime"
                                type="datetime"
                                value-format="yyyy-MM-dd HH:mm:ss"
                                placeholder="选择开始时间">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime" required>
                        <el-date-picker
                                v-model="ruleForm.endTime"
                                type="datetime"
                                value-format="yyyy-MM-dd HH:mm:ss"
                                placeholder="选择结束时间">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="会议内容" prop="meetingDesc">
                        <el-input type="textarea" v-model="ruleForm.meetingDesc"></el-input>
                    </el-form-item>
                    <el-form-item label="参会人员" prop="persons">
                        <el-button type="primary" plain @click="selectPersons" v-model="ruleForm.persons">选择参会人员
                        </el-button>
                        <!-- 选择参会人员 -->
                        <el-dialog
                                title="选择参会人员"
                                :visible.sync="personsDialogVisible"
                                width="70%"
                                center
                                append-to-body>
                            <template>
                                <!-- 人员列表 -->
                                <el-table
                                        v-loading="loading"
                                        element-loading-text="拼命加载中"
                                        element-loading-spinner="el-icon-loading"
                                        element-loading-background="rgba(0, 0, 0, 0.3)"
                                        :data="tableData"
                                        style="width: 100%"
                                        stripe
                                        :row-key="(row) => {return row.id}"
                                        @selection-change="handleSelectionChange">
                                    <el-table-column type="selection" width="55"
                                                     :reserve-selection="true"></el-table-column>
                                    <el-table-column prop="name" label="姓名"></el-table-column>
                                    <el-table-column prop="dept" label="部门"></el-table-column>
                                    <el-table-column prop="post" label="职位"></el-table-column>
                                    <el-table-column prop="gender" label="性别"></el-table-column>
                                </el-table>
                                <!-- 分页工具 -->
                                <el-row type="flex" justify="start">
                                    <el-col :span="14">
                                        <el-pagination
                                                @size-change="handleSizeChange"
                                                @current-change="handleCurrentChange"
                                                :current-page="pagination.currentPage"
                                                :page-sizes="[10, 25, 50, 100]"
                                                :page-size="pagination.pageSize"
                                                background
                                                layout="total, sizes, prev, pager, next, jumper"
                                                :total="pagination.total">
                                        </el-pagination>
                                    </el-col>
                                </el-row>
                            </template>

                            <span slot="footer" class="dialog-footer">
                            <el-button type="primary" @click="selectPerson">确 定</el-button>
                        </span>
                        </el-dialog>
                    </el-form-item>
                    <el-form-item label="会议状态" prop="status">
                        <el-select v-model="ruleForm.status" placeholder="请选择会议状态">
                            <el-option label="未开始" value="未开始"></el-option>
                            <el-option label="已完成" value="已完成"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="success" plain @click="updateForm">修改</el-button>
                        <el-button plain @click="editDialogVisible = false">取消</el-button>
                    </el-form-item>
                </el-form>
            </template>
        </el-dialog>

        <!-- 人员管理 -->
        <el-col v-if="index == 3">
            <!-- 按条件查询 -->
            <div class="el-col-temp">
                <!-- 按条件查询 -->
                <el-form :inline="true" :model="personFormInline" class="demo-form-inline">
                    <el-form-item label="姓名">
                        <el-input v-model="personFormInline.name" placeholder="姓名"></el-input>
                    </el-form-item>
                    <el-form-item label="部门">
                        <el-input v-model="personFormInline.dept" placeholder="部门"></el-input>
                    </el-form-item>
                    <el-form-item label="职位">
                        <el-input v-model="personFormInline.post" placeholder="职位"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button plain type="primary" @click="personOnSubmit">查询</el-button>
                    </el-form-item>
                    <el-form-item>
                        <!--创建人员-->
                        <el-button plain type="success" @click="registerDialogVisible = true">员工入职</el-button>
                    </el-form-item>
                </el-form>
            </div>

            <template>
                <!-- 人员列表 -->
                <el-table
                        v-loading="loading"
                        element-loading-text="拼命加载中"
                        element-loading-spinner="el-icon-loading"
                        element-loading-background="rgba(0, 0, 0, 0.3)"
                        :data="tableData"
                        style="width: 100%"
                        stripe
                        :row-key="(row) => {return row.id}"
                        @selection-change="handleSelectionChange">
                    <el-table-column></el-table-column>
                    <el-table-column prop="name" label="姓名" align="center"></el-table-column>
                    <el-table-column prop="dept" label="部门" align="center"></el-table-column>
                    <el-table-column prop="post" label="职位" align="center"></el-table-column>
                    <el-table-column prop="gender" label="性别" align="center"></el-table-column>
                    <el-table-column prop="adminCode" label="管理员" align="center"></el-table-column>
                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    @click="personHandleEdit(scope.row)">编辑
                            </el-button>
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="personHandleDelete(scope.row)">删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!-- 分页工具 -->
                <el-row type="flex" justify="start">
                    <el-col :span="14">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="pagination.currentPage"
                                :page-sizes="[10, 25, 50, 100]"
                                :page-size="pagination.pageSize"
                                background
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="pagination.total">
                        </el-pagination>
                    </el-col>
                </el-row>
            </template>
        </el-col>

        <!-- 员工入职 -->
        <el-dialog
                title="注册员工个人信息"
                :visible.sync="registerDialogVisible"
                center>
            <el-form :model="personForm" :rules="personFormRules" ref="personForm" label-width="100px"
                     class="demo-ruleForm">
                <el-form-item label="用户名" prop="name">
                    <el-input v-model="personForm.name"></el-input>
                </el-form-item>
                <el-form-item label="部门" prop="dept">
                    <el-select v-model="personForm.dept" placeholder="请选择部门">
                        <el-option label="总裁办" value="总裁办"></el-option>
                        <el-option label="运营中心" value="运营中心"></el-option>
                        <el-option label="财务部" value="财务部"></el-option>
                        <el-option label="人资管理部" value="人资管理部"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="职位" prop="post">
                    <el-select v-model="personForm.post" placeholder="请选择职位">
                        <el-option label="总裁" value="总裁"></el-option>
                        <el-option label="经理" value="经理"></el-option>
                        <el-option label="员工" value="员工"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="性别" prop="gender">
                    <el-select v-model="personForm.gender" placeholder="请选择性别">
                        <el-option label="男" value="1"></el-option>
                        <el-option label="女" value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="人脸录入" prop="base64">
                    <el-upload
                            class="upload-demo"
                            drag
                            action="#"
                            :limit="1"
                            :http-request="httpRequest">
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过5M</div>
                    </el-upload>
                </el-form-item>
                <el-form-item label="注册为管理员" prop="adminCode">
                    <el-select v-model="personForm.adminCode" placeholder="请选择是否为管理员">
                        <el-option label="管理员" value="admin"></el-option>
                        <el-option label="非管理员" value=""></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" plain @click="registerForm('personForm')">注 册</el-button>
                    <el-button plain @click="resetForm('personForm')">重 置</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>

        <!-- 修改员工信息 -->
        <el-dialog
                title="编辑"
                :visible.sync="personDialogVisible"
                width="50%"
                center>
            <el-form :model="personForm" :rules="personFormRules" ref="personForm" label-width="100px"
                     class="demo-ruleForm">
                <el-form-item label="用户名" prop="name">
                    <el-input v-model="personForm.name"></el-input>
                </el-form-item>
                <el-form-item label="部门" prop="dept">
                    <el-select v-model="personForm.dept" placeholder="请选择部门">
                        <el-option label="总裁办" value="总裁办"></el-option>
                        <el-option label="运营中心" value="运营中心"></el-option>
                        <el-option label="财务部" value="财务部"></el-option>
                        <el-option label="人资管理部" value="人资管理部"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="职位" prop="post">
                    <el-select v-model="personForm.post" placeholder="请选择职位">
                        <el-option label="总裁" value="总裁"></el-option>
                        <el-option label="经理" value="经理"></el-option>
                        <el-option label="员工" value="员工"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="性别" prop="gender">
                    <el-select v-model="personForm.gender" placeholder="请选择性别">
                        <el-option label="男" value="1"></el-option>
                        <el-option label="女" value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="注册为管理员" prop="adminCode">
                    <el-select v-model="personForm.adminCode" placeholder="请选择是否为管理员">
                        <el-option label="管理员" value="admin"></el-option>
                        <el-option label="非管理员" value=""></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                    <el-button plain @click="personDialogVisible = false">取 消</el-button>
                    <el-button plain type="primary" @click="personHandleUpdate">确 定</el-button>
                </span>
        </el-dialog>

    </el-row>
</div>
<!-- 引入 JQuery -->
<script src="/js/jquery-3.6.0.slim.min.js"></script>
<!-- 引入 Axios -->
<script src="/js/axios.min.js"></script>
<!-- 引入 Vue -->
<script src="/js/vue.js"></script>
<!-- 引入 Element 组件库 -->
<script src="/js/index.js"></script>
<script src="/js/home.js"></script>

</body>
</html>