<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="icon" type="image/png" href="/image/favicon.png">
    <!-- 引入 Element 样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div id="app">
    <el-row type="flex">
        <!--导航-->
        <el-col :xs="24" :sm="8" :md="5" :lg="4">
            <el-menu
                    default-active="1"
                    class="el-menu-vertical-demo"
                    @open="handleOpen"
                    @close="handleClose">
                <!--登录成功回显用户信息-->
                <div class="demo-image">
                    <el-row type="flex" justify="center">
                        <el-col :span="12">
                            <el-image
                                    style="width: 100px; height: 100px"
                                    :src="url"
                            ></el-image>
                        </el-col>
                    </el-row>
                    <el-row type="flex" justify="center">
                        <el-col :span="6"><p th:text="${userInfo.name}"></p><p th:text="${userInfo.id}" style="display: none" id="userId"></p></el-col>
                    </el-row>
                </div>
                <el-menu-item index="1" @click="setIndex(1)">
                    <i class="el-icon-menu"></i>
                    <span slot="title">欢迎页</span>
                </el-menu-item>
                <el-menu-item index="4" @click="setIndex(8)">
                    <i class="el-icon-data-line"></i>
                    <span slot="title">开始会议</span>
                </el-menu-item>
                <el-menu-item index="5" @click="setIndex(9)">
                    <i class="el-icon-setting"></i>
                    <span slot="title">设置</span>
                </el-menu-item>
            </el-menu>
        </el-col>
        <!--欢迎页-->
        <el-calendar v-model="value" v-if="index == 1"></el-calendar>
        <!--开始会议-->
        <el-col v-if="index == 8">
            <template>
                <el-row type="flex" justify="center" align="middle">
                    <el-col :span="2">
                        <el-button type="primary" plain @click="startMeeting">开始会议</el-button>
                    </el-col>
                </el-row>
            </template>
            <!-- 拍照弹窗 -->
            <el-dialog
                    title="Meeting"
                    :visible.sync="cameraDialogVisible"
                    @close="closeCamera"
                    center>
                <canvas ref="canvas" width="640" height="480" style="display: none"></canvas>
                <video ref="video" width="100%" height="480" autoplay></video>
                <span slot="footer" class="dialog-footer">
            <el-button plain @click="cameraDialogVisible = false">取消</el-button>
            <el-button plain type="primary" @click="photo">Go!</el-button>
        </span>
            </el-dialog>
        </el-col>
    </el-row>
</div>
<!-- 引入 JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<!-- 引入 Axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入 Vue -->
<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
<!-- 引入 Element 组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="/js/home.js"></script>

</body>
</html>